.label {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}

.input {
    width: 100%;
    padding: 10px;
    height: 45px;
    background-color: #eff2f5;
    border: none;
    border-radius: 10px;
    outline-color: #1479ff;
}

.inputContainer {
    margin-bottom: 20px;
    width: 100%;

}
.errorMsg{
    color: red;
    font-size: 12px;
}