.label {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}

.input {
    width: 100%;
    padding: 10px 20px;
    height: 60px;

    /* background-color: #eff2f5; */
    border: none;
    border-radius: 10px;
    border: 1px rgb(222, 222, 222) solid;
    /* box-shadow: 0 5px 10px 0 rgba(236, 236, 236, 0.42); */
    /* box-shadow: 0 12px 20px 0 rgba(136,174,222,0.42),inset 0 -1px 8px 0 #B9D1F1; */
    /* box-shadow: 0 12px 20px 0 rgba(255, 45, 45, 0.301),inset 0 -1px 8px 0 #ff5f5f6e; */
}

.inputContainer {
    margin-bottom: 20px;
}
.errorMsg {
    font-size: 12px;
    color: red;
}
